.header-actions {
    display: flex;
    align-items: center;
    gap: 1rem;

    .profile-picture {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        cursor: pointer;
    }
}

.sidebar-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    padding: 1em 0;

    .avatar-grande {
        width: 100px;
        height: 100px;
    }

    .username {
        font-size: 1rem;
        font-weight: bold;
        text-align: center;
    }
}