 <p-toolbar styleClass="mb-6">
    <ng-template #start>
        <p-button label="Nuevo" icon="pi pi-plus" class="mr-2"
            (onClick)="nuevoEjercicio()" />
    </ng-template>
</p-toolbar>
<p-table [value]="ejercicios" [paginator]="true" [rows]="10"
    responsiveLayout="scroll" breakpoint="960px">
    <ng-template pTemplate="header">
        <tr>
            <th>Nombre</th>
            <th>RM</th>
            <th>Fecha</th>
            <th>Acciones</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-ejercicio>
        <tr>
            <td>{{ ejercicio.name }}</td>
            <td>{{ getUltimoRm(ejercicio, 'valor') }}</td>
            <td>{{ getUltimoRm(ejercicio, 'fecha') | date: 'dd/MM/yyyy' }}</td>
            <td>
                <div class="acciones-grandes">
                    <p-button icon="pi pi-chart-line"
                        (click)="visualizarEjercicio(ejercicio)"
                        styleClass="p-button-rounded p-button-text"></p-button>
                    <p-button icon="pi pi-pencil"
                        (click)="editarEjercicio(ejercicio)"
                        styleClass="p-button-rounded p-button-text"></p-button>

                    <p-toast></p-toast>
                    <p-confirmpopup></p-confirmpopup>
                    <p-button icon="pi pi-trash"
                        (onClick)="confirmarEliminacion(ejercicio)"
                        styleClass="p-button-rounded p-button-text"
                        severity="danger" [outlined]="true"></p-button>
                </div>
                <div class="acciones-pequenas">
                    <p-button icon="pi pi-ellipsis-v"
                        (click)="seleccionarEjercicio(ejercicio); overlayPanel.toggle($event)"
                        styleClass="p-button-rounded p-button-text"></p-button>
                    <p-overlaypanel #overlayPanel>
                        <div *ngFor="let accion of acciones">
                            <p-button [label]="accion.label"
                                [icon]="accion.icon"
                                (click)="accion.command(); overlayPanel.hide()"
                                styleClass="p-button-text"></p-button>
                        </div>
                    </p-overlaypanel>
                </div>
            </td>
        </tr>
    </ng-template>
</p-table>

<p-dialog [(visible)]="mostrarDialogo" [modal]="true"
    [style]="{ width: '70vw' }" [header]="dialogHeader"
    (onHide)="cerrarDialogo()">
    <app-ejercicio-form [ejercicio]="ejercicioSeleccionado"
        (save)="guardarEjercicio($event)"
        (cancel)="cerrarDialogo()"></app-ejercicio-form>
</p-dialog>

<p-dialog header="Progreso de RM" [(visible)]="displayChart" [modal]="true"
    [style]="{width: '70vw'}" (onHide)="displayChart = false">
    <app-rm-chart [rmData]="selectedRmData"></app-rm-chart>
</p-dialog>
